<h1>Random Slot Machine Images</h1>



<div class="leftdiv">
   <div id="topleft">

   </div>
     <div id="midleft">

   </div>
     <div id="bottomleft">

   </div>
</div>
<div class="middiv">
     <div id="topmid">

   </div>
     <div id="midmid">

   </div>
     <div id="bottommid">

   </div>
</div>
<div class="rightdiv">
   <div id="topright">

   </div>
     <div id="midright">

   </div>
     <div id="bottomright">

   </div>
</div>
<div class="float"></div>

<select>
  <option>one</option>
   <option>two</option>
</select>