<h1>Random Slot Machine Images</h1>

<div id="leftdiv">
   <div id="topleft">

   </div>
     <div id="midleft">

   </div>
     <div id="bottomleft">

   </div>
</div>
<div id="middiv">
     <div id="topmid">

   </div>
     <div id="midmid">

   </div>
     <div id="bottommid">

   </div>
</div>
<div id="rightdiv">
   <div id="topright">

   </div>
     <div id="midright">

   </div>
     <div id="bottomright">

   </div>
</div>