<h1>Random Slot Machine Images</h1>

 <div class="topoptions">
     <div class="topoptionsdrop">
        <select class="dropdown">
          <option>one</option>
           <option>two</option>
        </select>
    </div>
    <div class="topoptionsadd">
        <form class="addfeed">
            <input type="text" />
            <button type="button">Add</button>
        </form>
    </div>
   <div class="random">
     <button class="randomize" type="button">Random</button>
   </div>
</div>
<div class="leftdiv">
   <div id="topleft">

   </div>
     <div id="mid1">

   </div>
     <div id="bottomleft">

   </div>
</div>
<div class="middiv">
     <div id="midtop">

   </div>
     <div id="mid2">

   </div>
     <div id="midbottom">

   </div>
</div>
<div class="rightdiv">
   <div id="topright">

   </div>
     <div id="mid3">

   </div>
     <div id="bottomright">

   </div>
</div>
<div class="float"></div>

