
.leftdiv {
    border: solid;
    float: left;
    width: 30%;
    height: 500px;
}

.middiv{
    border: solid;
    float: left;
    width: 30%;
    height: 500px;
}

.rightdiv{
    border: solid;
    float: left;
    width: 30%;
    height: 500px;
}

#topleft{

    border: solid;
    width: 100%;
    height: 15%;
}

#midleft{

    border: solid;
    width: 100%;
    height: 67%;
}

#bottomleft{

    border: solid;
    width: 100%;
    height: 15%;
}


#topmid{

    border: solid;
    width: 100%;
    height: 15%;
}

#midmid{

    border: solid;
    width: 100%;
    height: 67%;
}

#bottommid{

    border: solid;
    width: 100%;
    height: 15%;
}


#topright{

    border: solid;
    width: 100%;
    height: 15%;
}

#midright{

    border: solid;
    width: 100%;
    height: 67%;
}

#bottomright{

    border: solid;
    width: 100%;
    height: 15%;
}

.topoptions{
    width: 100%;
}

.topoptionsdrop{
    width: 40%;
    float: left;
}

.topoptionsadd{
    width: 50%;
    float: right;
}

.float {
    clear: both;
}