
.leftdiv {
    border: solid;
    float: left;
    width: 30%;
    height: 500px;
}

.middiv{
    border: solid;
    float: left;
    width: 30%;
    height: 500px;
}

.rightdiv{
    border: solid;
    float: left;
    width: 30%;
    height: 500px;
}

#topleft{

    border: solid;
    width: 100%;
    height: 15%;
}

#mid1{

    border: solid;
    width: 100%;
    height: 67%;
}

#bottomleft{

    border: solid;
    width: 100%;
    height: 15%;
}


#midtop{

    border: solid;
    width: 100%;
    height: 15%;
}

#mid2{

    border: solid;
    width: 100%;
    height: 67%;
}

#midbottom{

    border: solid;
    width: 100%;
    height: 15%;
}


#topright{

    border: solid;
    width: 100%;
    height: 15%;
}

#mid3{

    border: solid;
    width: 100%;
    height: 67%;
}

#bottomright{

    border: solid;
    width: 100%;
    height: 15%;
}

.topoptions{
    width: 100%;
}

.topoptionsdrop{
    width: 40%;
    float: left;
}

.dropdown{
    width: 100%;
}

.topoptionsadd{
    width: 40%;
    float: left;
}

.random{
    width: 20%;
    float: right;
}

.float {
    clear: both;
}